<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="connstring" connectionString="Data Source=DESKTOP-PDLGMRM\SQLEXPRESS;Initial Catalog=inventory;Integrated Security=True" />
    <add name="IStock.Properties.Settings.inventoryConnectionString"
      connectionString="Data Source=DESKTOP-PDLGMRM\SQLEXPRESS;Initial Catalog=inventory;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>